/*font-family: 'Asul', sans-serif;
font-family: 'EB Garamond', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;*/

h1, h2 {
    color: red;
    font-family:'Roboto' ;

}

p{
    color: blue;
    font-family: 'Asul';                        
}

.destacado{
    color: blue;
    font-size: 600px;
}